services:
  keycloak_db:
    image: postgres:14
    environment:
      POSTGRES_DB: keycloak_db
      POSTGRES_USER: keycloak_user
      POSTGRES_PASSWORD: keycloak_password
    volumes:
      - postgres-keycloak-data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:21.1
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak_db:5432/keycloak_db
      KC_DB_USERNAME: keycloak_user
      KC_DB_PASSWORD: keycloak_password
    command: 
      - start-dev
      - --import-realm
    volumes:
      - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json
    depends_on:
      - keycloak_db
    ports:
      - "8080:8080"

  api:
    build:
      context: ./API
      dockerfile: Dockerfile
    environment:
      KEYCLOAK_URL: "http://keycloak:8080"
      KEYCLOAK_REALM: "reports-realm"
      KEYCLOAK_CLIENT_ID: "reports-api"
      KEYCLOAK_CLIENT_SECRET: "oNwoLQdvJAvRcL89SydqCWCe5ry1jMgq"
    volumes:
      - ./API/data.csv:/app/data.csv
    depends_on:
      - keycloak
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      REACT_APP_API_URL: "http://localhost:8000"
      REACT_APP_KEYCLOAK_URL: "http://keycloak:8080"
      REACT_APP_KEYCLOAK_REALM: "reports-realm"
      REACT_APP_KEYCLOAK_CLIENT_ID: "reports-frontend"
    depends_on:
      - api
    ports:
      - "3000:3000"

volumes:
  postgres-keycloak-data: